:root {
  --black:#091413;
  --light-black: #3a4242;
  --dark-green:#285A48;
  --green:#408A71;
  --light-green:#B0E4CC;
  --monitor: #c7ecdb;
  --equal-blue: #168aaa;
}
body {
  background-color: #333;
  font-family: monospace;
}
main {
  width: 100%;
  height:97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calculator-container {
  background-color: var(--dark-green);
  padding: 1rem;
  border-radius: 0.4rem;
  border: 0.2rem solid var(--green);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.table-container li {
  display: flex;
  justify-content: flex-start;
}
ul li button {
  font-family: Helvetica, sans-serif;
  font-size: large;
  color: var(--black);
  font-weight: 500;
  background-color: var(--light-green);
  width: 4.2rem;
  height: 3rem;
  margin: 0.2rem;
  cursor: pointer;
  border-radius: 0.4rem;
}
#equal {
  background-color: var(--equal-blue);
}
button:active {
  transform: translateY(1px);
  box-shadow: 0 1px silver;
}
#monitor {
  margin-bottom: 1rem;
}
.display {
  display: flex;
  width: 100%;
}
.display input {
  outline: none;
  border: 0;
  padding: 0.2rem 0;
  border-radius: 0.4rem;
}
.display input {
  background-color:var(--monitor);
  width: 100%;
  font-size: 1.2rem;
  text-align:right;
  padding-right: 0.4rem;
  margin-top: 0;
  color:var(--black);
}
#expression {
  font-family: 'Helvetica';
  height: 2rem;
  font-size: 1rem;
  color: var(--light-black);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
/*   padding-left: 0.4rem;
  text-align: left; */
  border-bottom: 0.1rem dotted grey;
}
#result {
  font-family: 'Orbitron';
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.fa-back {
  font-size: 1.4rem;
  color:#fff;
}
.computation {
  background-color: var(--green);
  color: #fff;
}
.regulation {
  background-color:#b96746;
  color: #FFF;
}

button > sub{
  font-size: 0.6rem;
}
