:root {
  /* Colors */
  --bg: #333;
  --black:#091413;
  --light-black: #3a4242;
  --dark-green:#285A48;
  --green:#408A71;
  --light-green:#B0E4CC;
  --monitor: #c7ecdb;
  --equal-blue: #168aaa;
  --all-clear: #b96746;
  --white: #e9eeec;

  /* Fonts */
  --expression-font: 'Helvetica';
  --result-font: 'Orbitron';
  --special-number-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
  background-color: var(--bg);
}
main {
  width: 100%;
  height:97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calculator-container {
  width: 100%;
  max-width: 20rem;
  background-color: var(--dark-green);
  padding: 1rem;
  border-radius: 0.4rem;
  border: 0.2rem solid var(--green);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.table-container li {
  display: flex;
  justify-content: flex-start;
}
ul li button {
  font-family: var(--expression-font);
  font-size: large;
  color: var(--black);
  font-weight: 500;
  background-color: var(--light-green);
  width: 4rem;
  height: 3rem;
  margin: 0.14rem;
  cursor: pointer;
  border-radius: 0.4rem;
  flex: 1;
}
.basic-operator {
  font-size: 1.7rem;
  color: var(--dark-green)
}
.special-number {
  font-family: var(--special-number-font);
  font-size: 1.4rem;
  color: var(--dark-green);
}
#equal {
  background-color: var(--equal-blue);
  flex: 2;
}
button:active {
  transform: translateY(1px);
  box-shadow: 0 1px silver;
}
#monitor {
  margin-bottom: 1rem;
}
.display {
  display: flex;
  width: 100%;
}
.display textarea {
  border: 0;
  background-color:var(--monitor);
  width: 100%;
  font-size: 1.2rem;
  text-align:right;
  padding-right: 0.4rem;
  margin-top: 0;
  color:var(--black);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.4rem;
  resize: none;
}
#expression {
  font-family: var(--expression-font);
  height: 4rem;
  font-size: 1.1rem;
  color: var(--dark-green);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0.1rem dotted grey;
}
#result {
  font-family: var(--result-font);
  font-size: 1.2rem;
  font-weight: 500;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.fa-back {
  font-size: 1.4rem;
  color:var(--white);
}
.computation {
  background-color: var(--green);
  color: var(--white);
}
.regulation {
  background-color:var(--all-clear)
}
.aside-title {
  display: none;
}

@media screen and (max-width: 480px) {
  body {
    margin: 0;
  }
  main {
    height: 100%;
    position: fixed;
  }
  .calculator-container {
    width: 93%;
    height: 96vh;
    top: 0;
    border: 0;
    padding-top: 1.1rem;
  }
  .table-container {
    margin-top: 2.4rem;
  }
  ul li button {
    height: 3.5rem;
    margin-bottom: 0.4rem;
  }
  .aside-title {
    display: block;
    font-family: 'Italianno', cursive;
    color: var(--light-green);
    font-family: var(--expression-font);
    font-size: 0.9rem;
  }
  .aside-title p {
    position: relative;
    top: 3rem;
    font-style: italic;
    text-align: center;
}

}

